@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  color: black;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  color: black;
}

.header {
display: flex;
}

.left-links, .right-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
  list-style: none;
}

.right-links {
  margin-left: auto;
}

a {
  text-decoration: none
}


.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-self: center;
  gap: 10px;
  margin: auto;
}

.header, .footer { 
  padding: 10px; 
}


.footer {
  margin-top: auto;
  background-color: lightgray;
  display: flex;
}
